head 
    title Calculator
    meta(name="description", content="Simple calculator")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", href="./assets/favicon.ico", type="image/x-icon")
    //- CSS connection
    link(rel="stylesheet", href="./css/main.min.css")
    //- Font connection
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(
        rel="preconnect", 
        href="https://fonts.gstatic.com" 
        crossorigin
    )
    link(
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet"
    )