.keyboard {
    height: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.key {
    --size: 4.5rem;
    min-width: var(--size);
    min-height: var(--size);
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--main);
    text-align: center;
    font-size: 2rem;
    border-radius: 1rem;
    cursor: pointer;

    &_primary {
        background-color: var(--btn_primary);
    }

    &_secondary {
        background-color: var(--btn_secondary);
    }

    &_blue {
        color: white;
        background-color: var(--btn_blue);
    }
}