//- Order of these MATTERS
-
    keys = [
        "C", "+/-", "%", "รท",
        "7", "8", "9", "x",
        "4", "5", "6", "-",
        "1", "2", "3", "+",
        ".", "0", "โซ", "="
    ]

.keyboard
    each key, index in keys 
        if index + 1 < 4
            button.key.key_secondary #{key}
        else if (index + 1) % 4 == 0
            button.key.key_blue!= key 
        else 
            button.key.key_primary #{key}