button.theme_switch
    img(src="/src/assets/icons/sun.svg", alt="Sun").theme_switch_sun
    img(src="/src/assets/icons/moon.svg", alt="Moon").theme_switch_moon

    //- Absolute gray circle sliding there
    .theme_switch_cover