html {
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("/src/assets/images/bg_desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

:root {
    --gray_900: #17171C;
    --gray_500: #2E2F38;
    --gray_400: #4E505F;
    --gray_300: #D2D3DA;
    --gray_100: #F1F2F3;
    --blue_400: #4b5efc;

    // Light theme
    --theme_switch_bg: white;
    --theme_switch_cover: var(--gray_300);
    --theme_switch_cover_offset: -0.25rem;
    --bg: var(--gray_100);
    --main: black;
    --main_secondary: var(--gray_400);
    --btn_blue: var(--blue_400);
    --btn_primary: var(--gray_300);
    --btn_secondary: white;

    @media(prefers-color-scheme: dark) {
        --theme_switch_bg: var(--gray_500);
        --theme_switch_cover: var(--gray_400);
        --bg: var(--gray_900);
        --main: white;
        --btn_primary: var(--gray_500);
        --btn_secondary: var(--gray_400);
        --theme_switch_cover_offset: -2.65rem;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}