@mixin resizable {
    resize: both;
    overflow:auto;
}

// Push from top of a screen
@mixin pushFromTop {
    margin-top: 2rem;
}

@mixin grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.calculator {
    @include resizable;
    @include pushFromTop;
    @include grid;

    padding: 3rem 1rem;
    background-color: var(--bg);
}