extends _container.pug

append content 
    .calculator 
        include ../components/_theme_switch.pug

        .main_wrapper 
            include ../components/_main_box.pug

            include ../components/_keyboard.pug